[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
sqlalchemy = "*"
impyla = "*"
pandas = "*"
requests-oauthlib = "*"

[dev-packages]
pytest = "*"
vcrpy = "*"

[requires]
python_version = "3.7"
